<div class="content">
   


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="card-title">Hardware Details</h4>
            </div>

            <div class="col-md-12">
                <div id="toolbar">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#create"><span class="fa fa-plus"></span>Add New Hardware</button>
                </div>
                <table id="bst_table" class="table-striped table-hover table-borderless"  
                                        data-search="true"
                                        data-pagination="true"
                                        data-show-extended-pagination="true"
                                        data_toggle="table"
                                        data-page-list="[5, 10, 20, 50, all]"
                                        data-show-fullscreen="true"
                                        data-show-columns="true"
                                        data-show-columns-toggle-all="true"
                                        data-buttons-class="info"
                                        data-toolbar="#toolbar">
                                    
                    <thead>
                        <tr>
                        <th data-field="id" data-sortable="true" data-halign="center" data-align="center">ID</th>
                        <th data-field="status" data-sortable="true" data-halign="center">Status</th>
                        <th data-field="sensors">Attached Sensors</th>
                        <th data-field="location" data-sortable="true">Location</th>
                        <th data-field="actions">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>        
    </div>
</div>
</div>

<div class="modal fade modal-primary" tabindex="-1" id="create" name="create_modal" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Create Hardware</h4>
            </div>
            <form method="post" name="create_form" onsubmit="return validateCreateForm()">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Hardware ID</label>
                        <input class="form-control" type="text" name="new_hw_id" placeholder="Hardware ID">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="new_status">
                            <option>Parked</option>
                            <option>Rented</option>
                            <option>Defect</option>
                            <option>Offline</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Attached Sensors</label>
                        <select id="new_sensor_select" name="new_sensors" class="form-control" style="width:100%" multiple="multiple">
                            {% if sensors %}
                            {% for sensor in sensors%}
                                <option>{{sensor}}</option>
                            {% endfor %}
                            {%endif%}
                        </select>
                        
                    </div>
                    <div class="form-group">  
                        <label>Location (Latitude, Longitude)</label>           
                        <input class="form-control " type="text" name="new_location" placeholder="Location (Latitude, Longitude)">
                    </div>
                    <div class="form-group">  
                        <label>Initial Address</label>           
                        <input class="form-control " type="text" name="new_addr" placeholder="Initial Address">
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="submit" name="btn" value="create_hardware" class="btn btn-success" ><span class="fa fa-check"></span> Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Cancel</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content --> 
    </div>
        <!-- /.modal-dialog --> 
</div>

<div class="modal fade modal-primary" tabindex="-1" id="edit" name="edit_modal" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Edit Hardware Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove" aria-hidden="true"></span></button>
            </div>
            <form method="post" name="edit_form" onsubmit="return validateEditForm()">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Hardware ID</label>
                        <input class="form-control" type="text" name="hw_id" placeholder="Hardware ID">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="status">
                            <option id="option_parked">Parked</option>
                            <option id="option_rented">Rented</option>
                            <option id="option_defect">Defect</option>
                            <option id="option_offline">Offline</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Attached Sensors</label>
                        <select id="sensor_select" name="sensors" class="form-control" style="width:100%" multiple="multiple">
                            {% if sensors %}
                            {% for sensor in sensors%}
                                <option>{{sensor}}</option>
                            {% endfor %}
                            {%endif%}
                        </select>
                        
                    </div>
                    <div class="form-group">  
                        <label>Location (Latitude, Longitude)</label>           
                        <input class="form-control " type="text" name="location" placeholder="Location (Latitude, Longitude)">
                    </div>
                    <div class="form-group">  
                        <label>Session Address</label>           
                        <a class="form-control " name="addr"></a>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="submit" name="btn" value="update_hardware" class="btn btn-success" ><span class="fa fa-check"></span>Update Hardware</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Cancel</button>
                </div>
            </form>
        </div>
      <!-- /.modal-content --> 
    </div>
        <!-- /.modal-dialog --> 
</div>
      
<div class="modal fade modal-primary" tabindex="-1" id="delete" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Delete Hardware</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger"><span class="fa fa-warning"></span>Are you sure you want to permanently delete this hardware?</div> 
            </div>
            <form method="post">
                <div class="modal-footer ">
                    <button type="submit" name="btn" id="delete_hardware" value="delete_hardware" class="btn btn-success" ><span class="fa fa-check"></span> Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> No</button>
                </div>
            </form>
        </div>
      <!-- /.modal-content --> 
    </div>
        <!-- /.modal-dialog --> 
</div>
</div>
</div>

<script>
  

function validateCreateForm() {
    var hw_id = document.forms["create_form"]["new_hw_id"].value;
    var hw_ids = [
    {%for hw_id in hardware_data%}
    "{{hw_id[0]}}",
    {%endfor%}
    ];
    if (hw_id == ""){
        demo.showNotification(from="top", align="center", msg="Please enter valid hardware ID", color="warning");
        return false;
    } 
    
    else if (hw_ids.includes(hw_id)) {
        demo.showNotification(from="top", align="center", msg="Hardware " + hw_id + " already exists!", color="warning");
        return false;
    }
};

function validateEditForm() {
    var hw_id = document.forms["edit_form"]["hw_id"].value;
    if (hw_id == ""){
        demo.showNotification(from="top", align="center", msg="Please enter valid hardware ID", color="warning");
        return false;
    } 
    else if (hw_ids.includes(hw_id) == false){
        demo.showNotification(from="top", align="center", msg="Hardware " + hw_id + " does not exist!", color="warning");
    } 
    if (document.forms["edit_form"]["location"].value == "None, None"){
        document.forms["edit_form"]["location"].value = "";
    }
};

var selected_id;
function getSelectedID(id){
    document.getElementById("delete_hardware").value = "delete_hardware_" + id;
    selected_id = id;
}

$("button[name='edit_btn']").click(function() {
    var sensors;
    var status;
    document.getElementsByName("hw_id")[0].value = selected_id;
    {%for hw_data in hardware_data%}
    if ({{loop.index}} == selected_id){
        status = "{{hw_data[0]|lower}}";
        console.log(status);
        document.getElementsByName("location")[0].value = "{{hw_data[3]}}, {{hw_data[4]}}";
        {%if hw_data[5]%} document.getElementsByName("addr")[0].textContent = "{{hw_data[5]}}";{%endif%}

        sensors = [
            {%if hw_data[2]%}
            {% for sensor in hw_data[2] %} 
            {% if sensor|length < 5%}
            "{{sensor|upper}}",
            {%else%}
            "{{sensor[0]|upper}}{{sensor[1:]}}", 
            {%endif%}
            {%endfor%}
            {%endif%}
        ];
    }
    {%endfor%}
    
    document.getElementById("option_" + status).selected = true;
    $('#sensor_select').val(sensors);
    $('#sensor_select').select2({
    });

    
    
});
             
             
function actionFormatter(value, row, index) {
    return [
      '<button type="button" rel="tooltip" title="Edit Hardware" data-toggle="modal" data-target="#edit" class="btn btn-primary btn-link btn-simple edit_btn" name="edit_btn">',
      '<i class="fa fa-edit"></i></button>',
      '<button type="submit" rel="tooltip" title="Delete Hardware" data-toggle="modal" data-target="#delete" class="btn btn-danger btn-simple btn-link del_btn" name="del_btn">',
      '<i class="fa fa-times"></i></button>'
    ].join('')
  };

function sensorFormatter(value, row){
    sensor_item = "";
    if (value != null){
        for (i = 0; i < value.length; i++){
            sensor_item += ' <span class="badge badge-primary">'+ value[i] + '</span> '
            
        }
    }
    return sensor_item
};
             
function statusFormatter(value, row){
    status_item = "";
    if (value == "Rented" || value == "rented"){
        status_item += '<span class="badge badge-info"> Rented'
    } else if (value== "Parked" || value == "parked"){
        status_item += '<span class="badge badge-success"> Parked'
    } else if (value == "Defect" || value == "defect"){
        status_item += '<span class="badge badge-danger"> Defect'
    } else if (value == "Offline" || value == "offline"){
        status_item += '<span class="badge badge-warning"> Offline'
    } else {
        status_item += '<span class="badge badge-warning"> Unknown'
    }
    status_item +='</span>'
    
    return status_item
};
             
window.actionEvents = {
    'click .edit_btn': function (e, value, row, index) {
        selected_id = row["id"];
        var sensors;
        var status;
        document.getElementsByName("hw_id")[0].value = selected_id;
        {%for hw_data in hardware_data%}
        if ({{loop.index}} == selected_id){
            status = "{{hw_data[1]|lower}}";
            document.getElementsByName("location")[0].value = "{{hw_data[3]}}, {{hw_data[4]}}";
            {%if hw_data[5]%} document.getElementsByName("addr")[0].textContent = "{{hw_data[5]}}";{%endif%}

            sensors = [
                {% if hw_data[2] %}
                {% for sensor in hw_data[2] %} 
                {% if sensor|length < 5%}
                "{{sensor|upper}}",
                {%else%}
                "{{sensor[0]|upper}}{{sensor[1:]}}", 
                {%endif%}
                {%endfor%}
                {%endif%}
            ];
        }
        {%endfor%}
        
        $('#sensor_select').val(sensors);
        $('#sensor_select').select2({
        });

        document.getElementById("option_" + status).selected = true;
    },
    'click .del_btn': function (e, value, row, index) {
        selected_id = row["id"];
        document.getElementById("delete_hardware").value = "delete_hardware_" + selected_id;
    }
}
             
$(document).ready(function() {

    $('#new_sensor_select').select2({
        placeholder: 'Select sensor(s)'
    });

    $('#sensor_select').select2({
        placeholder: 'Select sensor(s)'
    });
    
    
    var hardware_data = [
    
    {%for hw in hardware_data%}
        {
        "id": "{{hw[0]}}",
        "status": "{{hw[1]}}",
        "sensors": [
            {% if hw[2] %}
            {% for sensor in hw[2] %} 
            {% if sensor|length < 5%}
            "{{sensor|upper}}",
            {%else%}
            "{{sensor[0]|upper}}{{sensor[1:]}}", 
            {%endif%}
            {%endfor%}
            {%endif%}
        ],
        "location": "{{location_arr[loop.index0]}}"       
        },
    {%endfor%}
    
    ]

    $('#bst_table').bootstrapTable({
        data: hardware_data,
        pageSize: 5,
        columns: [{
            title: "ID",
            sortable: true,
            align: 'center',
            halign: 'center',
            valign: 'middle'
        },
        {
            title: "Status",
            sortable: true,
            formatter: statusFormatter,
            align: 'center',
            halign: 'center',
            valign: 'middle'
        },
        {
            title: "Attached Sensors",
            formatter: sensorFormatter
        },
        {
            title: "Location",
            sortable: true
        },
        {
            title: "Actions",
            formatter: actionFormatter,
            events: window.actionEvents
        }
        ]
    })
            
});

</script>
    
<style>
    .fixed-table-pagination .pagination>li>a {
        color: #1DC7EA;
    }
    .fixed-table-pagination>li.active {
      background: #1DC7EA;
    }
    
</style>
    