<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Hardware Details</h4>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Attached Sensors</th>
                                    <th>Location (Latitude, Longitude)</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    {%if hardware_data%}
                                    {%for hw_data in hardware_data%}
                                    <tr>
                                        <td>{{hw_data[0]}}</td>
                                        <td>
                                            {%if hw_data[1] == "rented"%}
                                            <span class="badge badge-warning">
                                            {%elif hw_data[1] == "parked"%}
                                            <span class="badge badge-success">
                                            {%else%}
                                            <span class="badge badge-info">
                                            {%endif%}
                                                {{hw_data[1][0]|upper}}{{hw_data[1][1:]}}
                                            </span>
                                        </td>
                                        <td>
                                            
                                            {%for sensor in hw_data[2]%}
                                            <span class="badge badge-info">
                                            {% if sensor|length < 5%}
                                            {{sensor|upper}}
                                            {%else%}
                                            {{sensor[0]|upper}}{{sensor[1:]}} 
                                            {%endif%}
                                            {%if loop.index < hw_data[2]|length %}<br>{%endif%}
                                            </span>
                                            {%endfor%}
                                            
                                        </td>
                                        <td>({{hw_data[3]}}, {{hw_data[4]}})</td>
                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" title="Edit Hardware" class="btn btn-primary btn-link btn-simple" name="edit_btn" id="edit_btn_{{hw_data[0]}}">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Delete Hardware" class="btn btn-danger btn-simple btn-link">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Manage Hardware</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <ul role="tablist" class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="create_tab" href="#create_info" data-toggle="tab" ><i class="fa fa-plus-square"></i> Create Hardware</a>
                                    </li>
                                    <li role="presentation" class="nav-item" >
                                        <a class="nav-link " id="edit_tab" href="#edit_info" data-toggle="tab"><i class="fa fa-edit"></i> Edit Hardware</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                    <div id="create_info" class="tab-pane fade active show" role="tabpanel" aria-labelledby="create_tab">
                                        <form method=post name="create_form">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group" >
                                                        <label>Hardware ID</label>
                                                        <input type="text" class="form-control"  placeholder="Enter Hardware ID" name ="new_hw_id" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <input type="text" class="form-control"  placeholder="Enter Status" name="new_status" value="">
                                                    </div>
                                                </div>
                                                    <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Location</label>
                                                        <input type="text" class="form-control"  placeholder="Enter values (Lattitude, Longitude)" name="new_location" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Attached Sensors</label>
                                                        <br>
                                                        <!-- <div class="btn-group bootstrap-select">
                                                            <select multiple class="selectpicker" name="new_sensor_select" id="new_sensor_create" data-actions-box="true" data-style="btn-info btn-outline" data-menu-style="dropdown-blue" data-live-search="true" >
                                                            
                                                            {% if sensors %}
                                                            {% for sensor in sensors%}
                                                                <option>{{sensor}}</option>
                                                                
                                                            {% endfor %}
                                                            {%endif%}
                                                                
                                                            </select>
                                                        </div> -->

                                                        <input type="text" class="form-control" id="new_sensor_tags" name="new_sensor_tags" value="" data-role="tagsinput" placeholder="Add sensors" />
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" >
                                                        <label>Initial session address</label>
                                                        <input type="text" class="form-control"  placeholder="Enter Session Address" value="" >
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" name="create_btn" value="create_hardware" class="btn btn-info btn-fill pull-right">Create Hardware</button>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                
                                    <div id="edit_info" class="tab-pane fade " role="tabpanel" aria-labelledby="edit_tab">
                                        <form method=post name="edit_form">
                                            <br>
                                                <p class="card-category">Click on the Edit icon on the table to activate editing</p>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group" >
                                                        <label>Hardware ID</label>
                                                        <input type="text" class="form-control"  placeholder="Hardware ID" name ="hw_id" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <input type="text" class="form-control"  placeholder="Status" name="status" value="">
                                                    </div>
                                                </div>
                                                    <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Location</label>
                                                        <input type="text" class="form-control"  placeholder="Location" name="location" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Attached Sensors</label>
                                                        <br>
                                                        <div class="btn-group bootstrap-select">
                                                            <select multiple class="selectpicker" name="sensor_select" id="sensor_select" data-actions-box="true" data-style="btn-info btn-outline" data-menu-style="dropdown-blue" data-live-search="true" >
                                                            
                                                            {% if sensors %}
                                                            {% for sensor in sensors%}
                                                                <option>{{sensor}}</option>
                                                                
                                                            {% endfor %}
                                                            {%endif%}
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" >
                                                        <label>Current session address</label>
                                                        <input type="text" class="form-control"  placeholder="Current Session Address" name="addr" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" name="update_btn" value="update_hardware" class="btn btn-info btn-fill pull-right">Update Hardware</button>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                
                            </div>


                            
                        </div>
                    </div>
                </div>
                
                </div>
        </div>
    </div>
    
    
    <script>
    $(document).ready(function() {
        els = document.getElementsByName("edit_form")[0].elements;
        for (i = 0; i < els.length; i++) {
            els[i].disabled = true;
        }
        $('#sensor_select').selectpicker({
            dropupAuto: false
        });
        $('#new_sensor_select').selectpicker({
            dropupAuto: false
        });

        $("#new_sensor_tags").tagsinput('items')
                
    });

    //When the Edit icons are clicked, enable the Edit Form
    $("button[name='edit_btn']").click(function() {
        var clicked_id = parseInt($(this).attr("id").split("_")[2]);

        //Simulate mouse click on Edit Tab button
        document.getElementById("edit_tab").click();

        //enable all fields of Edit Form
        els = document.getElementsByName("edit_form")[0].elements;
        for (i = 0; i < els.length; i++) {
            els[i].disabled = false;
        };
        document.getElementsByName("hw_id")[0].value = clicked_id;
        var sensors;
        {%for hw_data in hardware_data%}
        if ({{loop.index}} == clicked_id){
            document.getElementsByName("status")[0].value = "{{hw_data[1]}}";
            document.getElementsByName("location")[0].value = "({{hw_data[3]}}, {{hw_data[4]}})";
            document.getElementsByName("addr")[0].value = "{{hw_data[5]}}";

            sensors = [
                {% for sensor in hw_data[2] %} 
                {% if sensor|length < 5%}
                "{{sensor|upper}}",
                {%else%}
                "{{sensor[0]|upper}}{{sensor[1:]}}", 
                {%endif%}
                {%endfor%}
            ];;
        }
        {%endfor%}
        
        document.getElementsByName("addr")[0].disabled = true;
        $('#sensor_select').selectpicker('val', sensors);       
        $('#sensor_select').selectpicker('refresh');
    });
    
    
    </script>