<script type="text/javascript">
    {% if current_user.is_authenticated %}
    window.onload = function() {
        demo.showNotification(from="bottom", align="center", msg="Welcome {{current_user.username}} to Bikota Dashboard!", color="primary");
    };
    {% endif %}
</script>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="fa fa-tablet"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Total Hardware Modules</p>
                                                <h4 class="card-title">{{total_bikes}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                 <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i> Update Now
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="fa fa-bicycle"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Total Renting Session</p>
                                                <h4 class="card-title">{{total_rides}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                 <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i> Update Now
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Total Cities</p>
                                                <h4 class="card-title">{{total_cities}}</h4>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
<!--                                 <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i> Update Now
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="fa fa-thermometer-quarter"></i>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="numbers">
                                                <p class="card-category">Total Sensors</p>
                                                <h4 class="card-title">{{total_sensors}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                 <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i> Update Now
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% if pie_charts %}
                            {% for ch_dat in pie_charts%}
                                <div class="col-md-6">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <h4 class="card-title">{{ch_dat.chart_title}}</h4>
                                        </div>
                                        <div class="card-body ">
                                            <canvas id="{{ch_dat.chart_id}}"></canvas>
                                        </div>
<!--                                         <div class="card-footer ">
                                            <hr>
                                            <div class="stats">
                                                <i class="fa fa-history"></i> Updated 1 minute ago
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if bar_chart %}
                            
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">{{bar_chart.chart_title}}</h4>
                                    </div>
                                    <div class="card-body ">
                                        <canvas id="{{bar_chart.chart_id}}"></canvas>
                                    </div>
<!--                                         <div class="card-footer ">
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-history"></i> Updated 1 minute ago
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        {% endif %}
                    </div>

            
                    
                </div>
            </div>


<script>

chart_loader = {                      
    initCharts: function() {
        {% if pie_charts %}
            {% for ch_dat in pie_charts %}
                
                    var chartData = {
                    labels : [{% for item in ch_dat.labels %}
                                "{{item}}",
                                {% endfor %}],
                    
                    datasets : [
                        {
                            backgroundColor: [{%for color in chart_colors%} "rgb({{color}})", {%endfor%}],
                            {% if ch_dat.data %} data : {{ch_dat.data}} {%endif%}
                        },
                        
                    ]
                    
                };
                    var ctx = document.getElementById('{{ch_dat.chart_id}}').getContext('2d');
                    window.myChart = new Chart(ctx, {
                        type: 'pie',
                        data: chartData,
                        options: {
                            responsive: true
                        }
                    });
            {%endfor%}
        {%endif%}
        {% if bar_chart %}                
                var barChartData = {
                        labels : [{% for item in bar_chart.labels %}
                                    "{{item}}",
                                    {% endfor %}],
                        
                        datasets : [
                            {%for lg in bar_chart.legend%} 
                                {
                                    label:  "{{lg}}",
                                    backgroundColor: "rgba({{chart_colors[loop.index0]}},0.4)",
                                    {% if bar_chart.series[loop.index0] %} data : {{bar_chart.series[loop.index0]}}, {%endif%}
                                },
                            {%endfor%}
                        ]
                        
                    };
                var ctx = document.getElementById('{{bar_chart.chart_id}}').getContext('2d');
                    window.myChart = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            responsive: true,
                            scales: {
                                xAxes: [{
                                    stacked: true
                                }]
                            }
                        }
                    });
        {%endif%}
    }
};


$(document).ready(function() {
	chart_loader.initCharts();
	
});


</script>