<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bikota Hardware Distribution Map</h4>
                {%if no_location_count%}<p><i>(Total {{total_hw}} hardwares, {{no_location_count}} with no location data)</i></p>{%endif%}
            </div>
            <div class="row card-body">
                <div class="col-md-9">
                    <div id="map"></div> 
                </div>
                <div class="col-md-3">
                    <label> Hardware Status </label><br>
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" name="status_select" id="status_select" data-title="Filter by Status" data-style="btn-info btn-outline" data-menu-style="dropdown-blue" tabindex="-98">
                            {% if map_points %}
                            <option>Select All</option>
                            {% for status in map_points%}
                            <option>{{status}}</option>
                            {% endfor %}
                            {%endif%}
                        </select>
                    </div>
                    <br><br>
                    <label> Sensor Type </label><br>
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" name="sensor_select" id="sensor_select" data-title="Filter by Sensor" data-style="btn-info btn-outline" data-menu-style="dropdown-blue" tabindex="-98">
                            {% if sensor_data %}
                            {% for sensor in sensor_data%}
                            <option>{{sensor}}</option>
                            {% endfor %}
                            {%endif%}
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<script src="https://code.highcharts.com/mapdata/countries/de/de-all.js"></script>
<script>
    var states, cities;
    var units = {
        {%for sensor in sensor_data%}
        "{{sensor}}" : "{{units[sensor]}}",
        {%endfor%}
    }
    // Prepare the geojson
    Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/germany.geo.json', function (geojson) {

    // Prepare the geojson
    states = Highcharts.geojson(geojson, 'map'),
    cities = Highcharts.geojson(geojson, 'mappoint')
    });

    // Initiate the chart
    map_div = document.getElementById("map");
        
    var chart_config = {

        chart: {
            map: 'countries/de/de-all',
            height: "700px",
        },

        title: {
            text: ''
        },
        colorAxis: {
            visible: false
        },
        
        mapNavigation: {
            enabled: true
        },
        legend: {
            layout: 'vertical',
            borderWidth: 0,
            floating: true,
            align: 'left',
            verticalAlign: 'bottom'
        },
        
        tooltip: {
            useHTML: true,
            style: {
                pointerEvents: 'auto'
            },
            headerFormat: '<span style="color:{point.color}">\u25CF</span>',
            pointFormat: '<b>Hardware {point.name}: {point.status}</b><br>Location: <a target="_blank" href="https://google.com/maps/dir//\'{point.lat},{point.lon}\'/">({point.lat}, {point.lon}</a>'
            
        },

        series: [
            {
                // Use the de-all map with no data as a basemap
                name: 'Basemap',
                borderColor: '#A0A0A0',
                showInLegend: false
            }, {
                name: 'Separators',
                type: 'mapline',
                showInLegend: false,
                enableMouseTracking: false
            }, 
            {
                name: "States",
                type: 'map',
                data: states,
                color: "#f2adec",
                states: {
                    hover: {
                        color: "dark-grey"
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    style: {
                        width: '80px' // force line-wrap
                    }
                },
                showInLegend: false
                
            },  
            {%for status in map_points%}
            {
                // hardware status
                type: 'mappoint',
                marker: {
                    radius: 8,
                    symbol:'circle'
                },
                name: '{{status}}',
                id: "{{status}}",
                data: [{%for map_point in map_points[status]%} 
                    {
                        'name' : "{{map_point['name']}}",
                        'lat' : {{map_point["lat"]}},
                        'lon' : {{map_point["lon"]}},
                        'status' : "{{map_point['status']}}",
                        'loc' : "{{map_point['loc']}}"
                    }, 
                {%endfor%}],
                showInLegend: true,
                //color: "#ffc107",                
            },
            {%endfor%}
            
        ]
    };
    var highmap= Highcharts.mapChart(map_div, chart_config);
    var colorAxis = $('#map').highcharts().colorAxis[0];

    $("#sensor_select").on("changed.bs.select", 
        function(e, clickedIndex, newValue, oldValue) {
            selected_sensor = $('#sensor_select :selected')[0].value;
            //selected_series = highmap.get(selected_sensor);
            var series_data;
            $('#map').highcharts().tooltip.update({pointFormat : '<b> Hardware {point.id} : {point.value}' + units[selected_sensor] + '</b><br>Last recorded at {point.timestamp}<br>Location: <a target="_blank" href="https://google.com/maps/dir//\'{point.lat},{point.lon}\'/">({point.lat}, {point.lon})</a>'});
            if (selected_sensor == "Temperature"){
                colorAxis.update({
                    min: -25,
                    max: 40,
                    labels: {
                        format: '{value}{{units["Temperature"]}}'
                    },
                    stops: [
                        [0, '#0000ff'],
                        [0.3, '#6da5ff'],
                        [0.6, '#ffff00'],
                        [1, '#ff0000']
                    ],
                    visible: true
                });
                $('#map').highcharts().legend.update({
                    title: {
                        text: 'Degrees of Celsius'
                    }
                });
            } else if (selected_sensor == "Humidity"){
                colorAxis.update({
                    visible:true,
                    min: 0,
                    max: 100,
                    labels: {
                        format: '{value}{{units["Humidity"]}}'
                    },
                });
                $('#map').highcharts().legend.update({
                    title: {
                        text: 'Relative Humidity'
                    }
                });
            }
            else if (selected_sensor == "Pressure"){
                colorAxis.update({
                    visible:true,
                    min: 925,
                    max: 1100,
                    labels: {
                        format: '{value}{{units["Pressure"]}}'
                    },
                });
                $('#map').highcharts().legend.update({
                    title: {
                        text: 'Pressure'
                    }
                });
            }
            else if (selected_sensor == "PM10"){
                colorAxis.update({
                    visible:true,
                    min: 0,
                    max: 500,
                    labels: {
                        format: '{value}{{units["PM10"]}}'
                    },
                });
                $('#map').highcharts().legend.update({
                    title: {
                        text: 'PM10'
                    }
                });
            }
            else if (selected_sensor == "PM25"){
                colorAxis.update({
                    visible:true,
                    min: 0,
                    max: 500,
                    labels: {
                        format: '{value}{{units["PM25"]}}'
                    },
                });
                $('#map').highcharts().legend.update({
                    title: {
                        text: 'PM25'
                    }
                });
            }
            else if (selected_sensor == "CO2"){
                colorAxis.update({
                    visible:true,
                    min: 300,
                    max: 5000,
                    labels: {
                        format: '{value}{{units["CO2"]}}'
                    },
                });
                $('#map').highcharts().legend.update({
                    title: {
                        text: 'CO2'
                    }
                });
            }
            colorAxis =  $('#map').highcharts().colorAxis[0];
            if (newValue){
                for (var i = 0; i < highmap.series.length; i ++){
                    if (i > 6){
                        $('#map').highcharts().series[i].remove();
                    }
                    else if (i > 2){
                        $('#map').highcharts().series[i].update({visible: false, showInLegend: false});
                    } else {
                        $('#map').highcharts().series[i].update({visible: true});
                    }
                }

                {%for sensor in units%}
                    if(selected_sensor == '{{sensor}}'){
                        highmap.addSeries({
                            // Sensor data
                            type: 'mappoint',
                            marker: {
                                radius: 10,
                                symbol:'circle'
                            },
                            name: selected_sensor,
                            id: selected_sensor,
                            color: '',
                            data: [{%for data in sensor_data[sensor]%} 
                                {
                                    'id' : "{{data['name']}}",
                                    'value': parseInt({{data["value"]}},10) || 'No data',
                                    'lat' : {{data["lat"]}},
                                    'lon' : {{data["lon"]}},
                                    'timestamp' : "{{data['timestamp']}}",
                                    'loc' : "{{data['loc']}}",
                                    
                                }, 
                            {%endfor%}],
                            visible: true,
                            
                        }, true);
                    }

                {%endfor%}

                

            }
            points = highmap.get(selected_sensor).data;
            points.forEach((point) => {
                point.update({'color':colorAxis.toColor(point.value)}, true);
            })
            
    });

    $("#status_select").on("changed.bs.select", 
        function(e, clickedIndex, newValue, oldValue) {
            selected_status = $('#status_select :selected')[0].value;
            $('#map').highcharts().tooltip.update({pointFormat : '<b>Hardware {point.name}: {point.status}</b><br>Location: <a target="_blank" href="https://google.com/maps/dir//\'{point.lat},{point.lon}\'/">({point.lat}, {point.lon})</a>'});
            $('#map').highcharts().colorAxis[0].update({
                visible:false,
            });         
            $('#map').highcharts().legend.update({
                title: {
                    text: ''
                }
            });   
            if (newValue){
                
                if (selected_status == "Select All"){
                    for (var i = 0; i < highmap.series.length; i ++){
                        if (i < 3){
                            $('#map').highcharts().series[i].update({visible: true, showInLegend: false});
                        }
                        else if (i < 7){
                            $('#map').highcharts().series[i].update({visible: true, showInLegend: true});
                        } else {
                            $('#map').highcharts().series[i].update({visible: false, showInLegend: false});
                        }
                    }
                } else {
                    for (var i = 0; i < highmap.series.length; i ++){
                        if (highmap.series[i].name == selected_status){
                            $('#map').highcharts().series[i].update({visible: true, showInLegend: true});
                        }
                        else {
                            if (i > 2){
                                $('#map').highcharts().series[i].update({visible: false, showInLegend: false});
                            }
                        }
                    }
                }
                
            }
            
    });


</script>