<!--  Chart.js Plugin  -->
<script src="/static/assets/js/plugins/Chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="/static/assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>


<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/demo.js"></script>

<script type="text/javascript">
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
             {% for category, message in messages %}
                window.onload = function() {
                    demo.showNotification(from="bottom", align="center", msg="{{message}}", color="{{category}}");
                };
              {% endfor %}
            {% endif %}
    {% endwith %}

  
</script>
