        <div class="sidebar" data-image="/static/assets/img/sidebar-5.jpg" data-color="blue">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
            Tip 2: you can also add an image using data-image tag -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                        Bikota Renting System
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map.html">
                            <i class="nc-icon nc-pin-3"></i>
                            <p>Map</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/charts.html">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>Charts</p>
                        </a>
                    </li>
                    
                    <li>
                        <a class="nav-link" href="/hardware.html">
                            <i class="nc-icon nc-settings-gear-64"></i>
                            <p>Hardware Manager</p>
                        </a>
                    </li>

                    
                    <li>
                        <a class="nav-link" href="/user.html">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="/settings.html">
                            <i class="nc-icon nc-preferences-circle-rotate"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                    
                    {% if current_user.is_authenticated %}
                    <li>
                        <a class="nav-link" href={{ url_for('logout') }}>
                            <i class="nc-icon nc-single-02"></i>
                            <p>Logout</p>
                        </a>
                    </li>

                    {% else %}

                    <li>
                        <a class="nav-link" href={{ url_for('login') }}>
                            <i class="nc-icon nc-single-02"></i>
                            <p>Login</p>
                        </a>
                    </li>

                    {% endif %}

                </ul>
            </div>

        </div>

